<div id="<%= dom_id user %>">
  <h4>Username</h4>
  <span><%= user.username %></span>
  <h4>Email</h4>
  <span><%= user.email %></span>
  <h4>Roles</h4>
  <span><%= user.roles.pluck(:name) %></span>
</div>
