<% @users.each do |user| %>
  <div>
    <h2><%= user.username %></h2>
    <p><%= user.email %></p>
    <p><%= user.roles.pluck(:name) %></p>
    <%= link_to 'Edit roles', edit_user_path(user)%>
  </div>
<% end %>
