<div class="container">
  <h1 class="text-center">Mis turnos</h1>
  <div class="row gx-3 justify-content-center">
    <% @shifts.each do |shift| %>
      <%= render shift %>
    <% end %>
  </div>
</div>
