<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Turno5</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Bienvenido a nuestro portal de turnos. Aca encontraras nuestras sucursales y tus turnos solcitados.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <%= link_to "Sucursales",  branch_offices_path, class: "btn btn-outline-primary me-2 text-decoration-none" %>
        <%= link_to "Turnos",  shifts_path, class: "btn btn-outline-primary me-2 text-decoration-none" %>
      </div>
    </div>
  </div>