<h1>Editing branch office</h1>

<%= render "form", branch_office: @branch_office %>

<br>

<div>
  <%= link_to "Show this branch office", @branch_office %> |
  <%= link_to "Back to branch offices", branch_offices_path %>
</div>
