<p style="color: green"><%= notice %></p>

<h1>Branch offices</h1>

<div id="branch_offices">
  <% @branch_offices.each do |branch_office| %>
    <%= render branch_office %>
    <p>
      <%= link_to "Show this branch office", branch_office %>
    </p>
  <% end %>
</div>

<%= link_to "New branch office", new_branch_office_path %>
